.list-left{
    color:white;
    font-size:16px;
    position:absolute;
    top:10px;
    margin-left:18px;
}
.want-room{
    display: flex;
    margin-bottom: 20px;
    padding: 20px;
    border:1px solid rgba(0, 0, 0, 0.15);
    width:807px;
    margin-left:16px;
}
.createTask{
    height:480px;
    overflow-y: scroll;
}